<form [formGroup]="createPayloadForm" (ngSubmit)="createPayload()" class="form">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Вантаж</mat-label>
    <input type="text" matInput placeholder="Назва вантажу..." formControlName="name">
  </mat-form-field>
  <br>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Вага, кг</mat-label>
    <input matInput type="text" formControlName="payload" [errorStateMatcher]="matcher">
    <mat-error *ngIf="createPayloadForm.controls['payload'].hasError('pattern')">
      Лише цілі числа
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Забрати за адресою</mat-label>
    <input type="text" matInput placeholder="Полтава, вул.Коваля, 3" formControlName="pickup">
  </mat-form-field>
  <br>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Доставити за адресою</mat-label>
    <input type="text" matInput placeholder="Полтава, вул.Сінна, 21" formControlName="delivery">
  </mat-form-field>
  <br>
  <mat-form-field class="column" appearance="fill">
    <mat-label>Ширина</mat-label>
    <input matInput type="text" formControlName="width">
    <mat-error *ngIf="createPayloadForm.controls['width'].hasError('pattern')">
      Лише цілі числа
    </mat-error>
  </mat-form-field>
  <mat-form-field class="column" appearance="fill">
    <mat-label>Довжина</mat-label>
    <input type="text" matInput formControlName="length">
    <mat-error *ngIf="createPayloadForm.controls['length'].hasError('pattern')">
      Лише цілі числа
    </mat-error>
  </mat-form-field>
  <mat-form-field class="column" appearance="fill">
    <mat-label>Висота</mat-label>
    <input type="text" matInput formControlName="height">
    <mat-error *ngIf="createPayloadForm.controls['height'].hasError('pattern')">
      Лише цілі числа
    </mat-error>
  </mat-form-field>
  <br>
  <button type="submit" mat-raised-button color="primary">Створити замовлення</button>
</form>
